{{{Avatar}}}
<div class='chat-item__info'>
  <div class='chat-item__info-row chat-item__info-row-top'>
    <span class='chat-item__name'>{{contactName}}</span>
    <span class='chat-item__msg-time'>{{lastMsgTime}}</span>
  </div>
  <div class='chat-item__info-row chat-item__info-row-bottom'>
    <div>{{lastMsgPreview}}</div>
    {{#if unreadMsgCount}}
      <div class='chat-item__unread-count' aria-label='{{unreadMsgCount}} unread messages'>
        {{unreadMsgCount}}
      </div>
    {{/if}}
  </div>
</div>