<div class='messenger__wrapper'>
  <section class='messenger__section messenger__section_left'>
    <div class='messenger__header'>
      {{{Avatar}}}
      <div>Here be search</div>
    </div>
    <div class='messenger__content'>
      <div class='messenger__chats-list'>
        {{#each chats}}
          {{{this}}}
        {{/each}}
      </div>
    </div>
  </section>
  <section class='messenger__section messenger__section_right'>
    <div class='messenger__header'>
      <div class='messenger__header-left-part'>
        {{{ActiveChatAvatar}}}
        <div>Here be Sakura</div>
      </div>
      {{{SettingsButton}}}
    </div>
    <div class='messenger__content messenger__active-chat'>
      {{#each activeChatMessages}}
        {{! <div class='messenger__message-bubble'> }}
        {{{this}}}
        {{! </div> }}
      {{/each}}
    </div>
    <div class='messenger__footer'>
      {{{FileButton}}}
      <div class='messenger__user-msg-textarea'>Here be textarea</div>
      {{{SendButton}}}
    </div>
  </section>
</div>
