<section class='messenger__section messenger__section_left'>
  <div class='messenger__header'>
    <div class='messenger__header-avatar'>
      {{{Avatar}}}
    </div>
    {{{Search}}}
  </div>
  <div class='messenger__content'>
    {{{ChatList}}}
    {{{CreateNewChatButton}}}
  </div>
</section>
{{{ActiveChatContainer}}}
{{{Modal}}}
