<button
  class="icon-button icon-button_{{#if variant}}{{variant}}{{else}}filled{{/if}} {{class}}"
  type="{{type}}"
  name="{{name}}"
  {{#if disabled}}disabled{{/if}}
>
  {{> Icon name=icon class="icon-button__icon"}}
</button>