<h1 class='page-title' id='profile-title'>Profile</h1>

<div class='profile-card__content'>
  <div class='profile-card__avatar'>
    <div class='profile-card__avatar-image'>
      {{{Avatar}}}
    </div>
    {{{ProfileActions}}}
  </div>

  <div class='profile-card__form-wrapper'>
    <div class='profile-card__form-scroll'>
      {{{ProfileForm}}}
      {{{ProfileFileUpload}}}
    </div>
    {{{ProfileFooter}}}
  </div>
</div>

<div class='profile-card__close-button'>
  {{{CloseButton}}}
</div>